In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [1]:
students_perfomance = pd.read_csv('C:\Program Files\Git\dp_notebooks\StudentsPerformance.csv')

NameError: name 'pd' is not defined

In [6]:
students_perfomance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [9]:
fib = lambda x : 1 if x <= 2 else fib(x - 1) + fib(x - 2)

In [10]:
print(fib(31))

1346269

In [ ]:
count_num = int(input())
count_sum = []
for i in range(count_num):
    count_sum.append(int(input()))
print(sum(count_sum))

In [ ]:
x = [1,2,3]

In [ ]:
print(id(x))